@import "tailwindcss";

:root {
  --background: #153850;
  --foreground: #171717;
  color: #fff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
background: 
    radial-gradient(circle at 80% 20%, rgba(42, 90, 122, 0.4) 0%, transparent 50%),
    radial-gradient(circle at 20% 80%, rgba(0, 117, 140, 0.3) 0%, transparent 50%),
    #153850;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

/* глобально или в компоненте */
.prose h1.wp-block-heading {
  @apply text-3xl font-bold mt-4 mb-2;
}

.prose h2.wp-block-heading {
  @apply text-2xl font-semibold mt-4 mb-2;
}

.prose h3.wp-block-heading {
  @apply text-xl font-semibold mt-3 mb-2;
}

.prose ul.wp-block-list {
  @apply list-disc pl-6;
}

.prose ol.wp-block-list {
  @apply list-decimal pl-6;
}
